.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='About US'

        %p
          %strong='About us Core2Code:'

        %img{:alt => "Healthcare BPO Services", :src => image_url("about_us.jpg")}/

        %p='We at Core2Code, as our name implies, are proud to impart the most essential part or the very center of Medical Coding knowledge. Medical coding is the process of transforming descriptions of medical diagnoses and procedures into universal medical code numbers.'

        %p='Education in its general sense is a form of learning in which the knowledge, skills, and habits of a group of people are transferred from one generation to the next through teaching, training, or research. Our system of education in Core2code is focused on direct and practical training in the field of medical coding for individuals to create a value and livelihood for themselves.'

        %p='Our curriculum has stemmed from our experience in the field and specifies the topics to be understood in order to achieve a particular grade or standard. It includes'

        %ul
          %li='Medical terminology and understanding of anatomy and diseases.'
          %li='Exposure on the codes attributed to the different diseases, treatments and diagnoses.'
          %li='Computer literacy for coding.'
          %li='Macro and micro skills training in medical coding language.'
          %li='Accounting and billing expertise for better career opportunities.'

        %p='The more qualification and education you get the brighter is the future prospectus in the industry. Our aim is to make you a painstakingly accurate coder in the world of medical coding.'
