.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='Advanced Medical Coder'

        %p
          %strong='Advanced Medical Coding Training Programme:'
        %p='Medical coding is a field that operates on various specialties in par with the individual departments in the hospitals. Consultation, Laboratory, Radiology, Surgery, etc. are a few to name. PAI – Advanced Medical Coding training offers education on coding reports on any two exclusive specialties in addition to enhancing the basic medical coding skills.'

        %p
          %strong='Why is Advanced Medical Coding Training needed?'
        %p='As for the growing demands of the Healthcare IT sector, recruiters have been on the outlook for candidates with optimized skills in handling medical reports. The efficacy of this programme is that the trainee would undergo practical medical coding training with multi-specialty coding reports.'

        %img{:alt => "Best Medical Coding Training Institute in Hyderabad", :src => image_url("advanced_medical_coding.png")}/

        %p='On completing the advanced training programme, the candidate would have the advantage of easily achieving the set targets of the medical billing company and become eligible for incentive policies.  AMC coders are the most preferred candidates to get selected for Certified Professional Coder (CPC) certifications accredited  by AAPC (www.aapc.com). This opportunity is sponsored by the company for getting recognized globally as a medical coder.'

        %p
          %strong='Duration:'
          ='6 Weeks.'

        %p
          %strong='Topics Covered:'

        %ol
          %li='Introduction to Medical Coding and US Healthcare.'
          %li='Revenue Cycle Management, Medical Terminology, Human Anatomy, Physiology, Pathology.'
          %li='Clinical tests and Surgical Procedures for 16 Human Body Systems.'
          %li='ICD-10 CM General Coding guidelines, conventions and coding for acute and chronic conditions and late effect, Impending and Pressure ulcer stages Coding.'
          %li='Chapter Specific Coding Guidelines including all the chapters like Infection, HIV, Sepsis, Neoplasm, Diabetes and Hypertension, Pregnancy and Delivery, Burns, Fracture, Laceration, Poisoning, Myocardial Infarction and Stroke Coding.'
          %li='Introduction CPT-4 Procedure Coding Terminologies.'
          %li='HCPCS and Modifiers Coding.'
          %li='Introduction to Medical Billing.'
          %li='HIPAA Compliance.'
          %li='Hundreds of coding practice scenarios.'
          %li='Specialty training on consultation coding and surgery coding with dummy charts.'
          %li='Live on-hands medical coding experience. Exclusive training material will be provided.'
          %li='Sample CPC preparation modules and questions for the American certifications.'
          %li='Aptitude Assessments and Practice.'
          %li='Communication Skill Development.'
          %li='Mock Interview Sessions.'
