.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='AR Calling Training'

        %p
          %strong='PROFESSIONAL AR CALLER TRAINING PROGRAMME:'

        %p='Accounts Receivable (AR) form an important department of the Healthcare Revenue Cycle Management sector. AR refers to the outstanding invoices a company has or the money the company is owed from its clients. The phrase refers to accounts a business has a right to receive because it has delivered a product or service. Receivables essentially represent a line of credit extended by a company and due within a relatively short time period, ranging from a few days to a year.'

        %img{:alt => "AR Calling Training", :src => image_url("ar_training.jpg")}/

        %p='This job mainly involves candidates to call the patient, payor or provider with regard to the payment of the claims. Preferable shift is during the night to map with the US work timings.'

        %p
          %strong='Why AR Caller Training is required?'

        %p='A good understanding of the field helps you to move at a faster pace at work. The training features on the various sectors of the medical claims department in the US along with soft skills and voice and accent classes to help you crack the interview confidently. This job is a good choice for candidates with a passion to talk and exhibit their speaking skills.'

        %p
          %strong='Duration:'
          ='1 month'

        %p
          %strong='Topics Covered:'

        %ol
          %li='Revenue Cycle Management'
          %li='United States Health Care Industry- How it works?'
          %li='Accent & Culture…'
          %li='United States Time Zones…'
          %li='Telephone Etiquette.'
          %li='Listening Skills.'
          %li='Customer Service Concepts.'
          %li='Motivation…'
          %li='Sample test 1…'
          %li='Sample test 2…'
          %li='Final Mock Test – Verbal & Written'
