.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='CPC / COC (AAPC’s) Certification Training'

        %p
          %strong='AAPC’s CPC / COC Certification Examination Training:'
        %p='Certified Professional Coder (CPC) /Certified Outpatient Coder (COC) certification is provided by American Academy of Professional Coders( www.aapc.com ). This credential adds global value and recognition as a medical coder. This examination tests the competency of the coder in multi-specialty reports. There is a salary hike of INR 3000 to 5000 in India in most of the companies once you complete the certification. PAI provides CPC exam training for freshers and experienced candidates across all medical coding specialties.'

        %p
          %strong='Why is CPC Exam training required?'
        %p='Medical coders operate across various specialties in the medical billing companies. During the initial few months of your career, you will be exposed to reports of the same specialty to achieve accuracy and speed. Eventually you become a master in coding one particular department reports. In order to clear a CPC certification, coding skills are expected in handling multi-specialty reports. For example, a Radiology medical coder may find it difficult to comprehend a surgical report.'
        %p='At PAI, our CPC certified and experienced trainers walk you through the various specialties in medical coding like Evaluation & Management, Anesthesia, Surgery, Radiology, Medicine, etc. We have an easy to approach method to handle the highly confusing multiple choices that has been carved by our training team.'

        %p
          %strong='High success rate in CPC results:'

        %figure#attachment_325.wp-caption.alignleft
          %img.alignleft.wp-image-325.size-full{:alt => "Online Medical Code Training", :height => "165",
          :sizes => "(max-width: 488px) 100vw, 488px", :src => image_url("cpc_training.png"), :srcset => image_url("cpc_training.png"),
           :title => "CPC Exam Training in Hyderabad", :width => "488"}/
          %figcaption.wp-caption-text AAPC’s CPC Exam Training Programme

        %p='PAI focuses on training based on AAPC training module with recent Mock practice examinations. We understand the needs of the candidates who plan to take up the examination as they are simultaneously handling a full time employment. The training timing is flexible to meet the requirement.'
        %p='Candidates previously taken the exam would explain that the toughest target in CPC exam is the completion of the paper during the allocated 5 hour 40 minute duration. The questions are lengthy and tricky and our primary focus is to empower the confidence and train candidates to outdo the examination.'

        %p
          %strong='Examination Location:'
          ='Centers across India'

        %p
          %strong='Examination Fee:'
          ='$650'

        %p
          %strong='Pass Percentage:'
          =' 70% ( free one retake)'

        %p
          %strong='Examination Duration: '
          ='5 hr 40 mins'

        %p
          %strong='Pattern:'
          ='Multiple choice (150 questions)'

        %p
          %strong='CPC Exam Training Duration:'

        %ul
          %li='Weekdays: 2 months (for Freshers); 1 Month (for Experienced medical coder)'
          %li='Weekends(Sundays only) : 6 Months (for Freshers); 3 Month (for Experienced medical coder)'

        %p
          %strong='Topics covered:'

        %ol
          %li='Medical Terminology Refresher.'
          %li='Anatomy – 12 Topics.'
          %li='Introduction to ICD & Its Official Guidelines.'
          %li='Introduction to CPT.'
          %li='Modifiers.'
          %li='Evaluation and Management.'
          %li='Anesthesia.'
          %li='Surgery.'
          %li='Radiology.'
          %li='Pathology & Lab.'
          %li='Medicine.'
          %li='HCPCS.'
          %li='Medical Billing and Compliance.'
          %li='Question Practise Sessions.'
          %li='CPC Exam Prepation Test Series.'
          %li='Exclusive 2 CPC Mock Examinations (5 Hr 40 Mins).'