.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='Current Openings'

        %p='Join us to power the Empowerment Center as Fresher/Experienced in the following positions:'

        %ul
          %li='Medical Coders'
          %li='Medical Billers'
          %li='AR Callers'