.wrapper.bgded.overlay{:style => "background-image:url('images/demo/backgrounds/01.png');"}
  #pageintro1.clear
    #myCarousel.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
          / Wrapper for slides
      .carousel-inner
        .item.active
          %img{:alt => "Non-Clinical Services", :src => image_url("non_clinical_services_1.jpg")}/
        .item
          %img{:alt => "Non-Clinical Services", :src => image_url("non_clinical_services_2.jpg")}/
        .item
          %img{:alt => "Non-Clinical Services", :src => image_url("non_clinical_services_3.jpg")}/
        .item
          %img{:alt => "Non-Clinical Services", :src => image_url("non_clinical_services_4.jpg")}/
        .item
          %img{:alt => "Non-Clinical Services", :src => image_url("non_clinical_services_5.jpg")}/
          / Left and right controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-left
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-right
        %span.sr-only Next
.wrapper.row3.hoc.p-3p
  %p= "&nbsp;".html_safe
  %p='PAI is one of the best Medical Coding Training Institutes in Hyderabad also providing certification programmes on the Healthcare IT sector. Among the various domains of Healthcare that include Clinical Healthcare, Healthcare financing, administration, research and information technology, we offer academic certifications to enter the field of Healthcare Information Technology.'

  %p='According to the Bureau of Labor and Statistics, the medical billing and coding field is expected to grow by 15% between now and 2024. That’s almost 30,000 job openings in the next seven years.'

  %p='The increasing focus on health data and informatics, digitization of health records and growing health needs of aging population has spurted the demand of coding specialists compared to the rest of the fields.'

  %h4
    %strong='VISION:'
  %p='To enhance the degree of autonomy and self-determination by enabling individuals to represent their interest in a responsible way and invariably enjoy the well-being and economy.'

  %h4
    %strong='MISSION:'
  %p='Transform skills to prudence that in turn mutates to revenue by inspiring, educating and mobilizing a global community.'

  %p='To keep clients and their needs as the core of all our ideas by developing an easy and intuitive interface.'

  %p='Intensive support through workforce in the healthcare industry by people and data management. We bridge the workforce requirement of the industry with the suitable candidates.'

  %h4
    %strong='CORE VALUES:'
  %p
    %strong='Uniqueness:'

  %p='We have a team of qualified trainers and coders who have an uncompromised strive for excellence. Our training methodology has been sculpted based upon the individual needs of each candidate enrolled as a student member.'

  %p
    %strong='Enhanced Training Support:'

  %p='The certification programmes provided by us are structured, based on the requirement of our clients across South India mainly Hyderabad, Chennai and Bengaluru.'

  %p
    %strong='Consistent Learning and Empowering:'

  %p='Medical coding and documenting is an evolving field with changes applicable each year.  Our trainers are members of AAPC (American Academy of Professional Coders) and updated by Continuing Education Unit provided by the academy.'
