.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='Medical Coding'


        %p='Our highly qualified team of certified professional coders offers a wide range of services through'
        %ul
          %li Ambulatory Surgical Centers (ASC)
          %li Ambulance Services
          %li Anesthesiologists
          %li Clinical Labs
          %li Critical Care Hospitals
          %li Durable Medical Equipment (DME)
          %li Home Health Agency (HHA)
          %li Hospice
          %li Hospital Inpatient and Outpatient Services
          %li Practice Administration
          %li Pharmacist
          %li Physician
          %li Rural Health Clinics
          %li Skilled Nursing Facility (SNF)
