.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='Medical Record Review Training'

        %p='Medical Record Review is a major division of the Healthcare IT sector. This career deals with assessing the clinical care by comparing the medical records with a measurable standard criteria. A reviewer will be responsible to analyze the reports, categorize and summarize them into a referable pattern for the providers, payors or attorneys. Medical Record Review Training at Core2Code gives you an advantage of getting comfortably placed in leading Healthcare BPO’s.'

        %p
          %strong='Who are eligible?'

        %p='Recruiters have set an eligibility criteria for selection. Medical professional like dentists, Siddha and Ayurveda doctors, Physiotherapists are the most preferred group. Nurses, Pharmacists and candidates with Masters in any Life-Science stream like Botany, Zoology, Microbiology, Biotechnology, Biomedical Engineering are eligible. Age should not be more than 40 years.'

        %p
          %strong='Advantages of being Medical Record Reviewer'

        %p='Medical Record Reviewers have the attractive opportunity to work from home after a probationary period of full time work. Once you get the offer you will be expected to work from office to imbibe to the project specifications of the company. Reviewers can choose to work from home after the probationary period that usually lasts from 3 to 6 months or as required by the organization. Salary will be on par with the full time working counterparts.'

        %img{:alt => "Medical Record Review Training", :src => image_url("record_review_training.jpg")}/

        %p
          %strong='Why is Medical Record Review training required?'

        %p='Medical records and documentations in the United States follow a definite protocol. They are the valid document for the care given to the patient during a particular encounter. Being able to comprehend a medical professionals dictation is a skill that is the basic qualification expected from a Medical Record Reviewer. At Core2Code, training begins with your assigned trainer understanding your skill set by one on one assessments. The training team takes you through a series of comprehensive modules to groom you as per the standards placed by the recruiter.'

        %p
          %strong='What are the Topics Covered:'

        %p='Introduction to Medical Record Review and US Healthcare'
        %p='Medical Terminology'
        %p='Anatomy'
        %p='Physiology'
        %p='Pathology'
        %p='Clinical tests and Surgical'
        %p='Procedures for 16 Human Body Systems'
        %p='Types of Medical Reports'
        %p='Formats and Styles'
        %p='Impact of English grammar on quality'
        %p='Key components of a Review'
        %p='Practice documents'
        %p='Quality Review'