.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='Medical Transcription Training'

        %h3
          %strong='WHAT IS MEDICAL TRANSCRIPTION?'

        %p='Medical Transcription is the process of converting voice files to data for the purpose of documentation. It is one of the platforms in the Healthcare IT sector that is in huge demand for skilled manpower. At PAI, we offer Medical Transcription Training at a fast and easy pace to deliver the requirement the industry demands. We offer classroom as well as online training facilities at flexible timing with placement assistance for you to successfully endeavor in the field.'

        %h3
          %strong='WHY IS MEDICAL TRANSCRIPTION TRAINING NEEDED?'

        %p='There are various countries that are presently outsourcing the recorded voice files to India for transcription. UK and Australian transcription are a few to name. Transcriptionists need to be well versed in the accent of that particular nationality in order to transcribe the dictation in an error-free manner. Also, knowledge of medical terminologies is required to comprehend the content to a typed data. Our team of experienced Medical Transcriptionists would take you through sessions of various accents and specialties to give you a hands on experience to handle live files.'

        %p
          %strong='What is the advantage of a Medical Transcription job as compared with other jobs in the Healthcare IT sector?'

        %figure#attachment_325.wp-caption.alignleft
          %img.alignleft.wp-image-325.size-full{:alt => "Institute for Medical Transcription Training", :height => "165",
          :sizes => "(max-width: 488px) 100vw, 488px", :src => image_url("transcription_training.jpg"), :srcset => image_url("transcription_training.jpg"),
           :title => "Institute for Medical Transcription Training", :width => "488"}/

        %p='Medical Transcriptionists have the advantage of working in flexible work timing. Your salary would be directly proportional with the targets you are able to achieve on a consistent basis. Transcriptionists also have an added advantage of working from home with a competitive pay scale.'

        %p
          %strong='Home transcription Jobs:'

        %p='After successfully completing the Medical transcription training, you can start transcribing files from home. In order to succeed in this field, a basic home office setting that includes a Escribing software with foot-pedals and headphones are recommended. There are various BPO’s that offer Home transcription job offers. Contact our help desk for details.'

        %p
          %strong='Duration of the Training:'
          ='Minimum 3 months'

        %p
          %strong='Course Content:'

        %p='Introduction to Medical Transcription'
        %p='Revenue Cycle Management Overview and HIPAA'
        %p='Medical Terminologies and Human Body systems'
        %p='Phonetics'
        %p='Styles and Fonts'
        %p='Practicals with authenticated doctors dictation'
        %p='Proof Reading and Editing'
