.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.mw-800
        %h1
          %strong='Medical Billing Training'

        %p
          %strong='Medical Billing Training Certification Programme Details:'
        %p
          %strong='Duration :'
          ='1 month'

        %p
          %strong='Topics Covered:'

        %p='Introduction to US Healthcare'
        %p='Revenue Cycle Management'
        %p='Payors'
        %p='Payment types'
        %p='Basic Computer Applications'
        %p='Understanding HIPAA'
        %p='Introduction to CPT, ICD and Modifiers'
        %p='CMS 1500 Claim form'
        %p='Medical Billing Softwares'