.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12
        %h1
          %strong='Online Training'

        %p='Healthcare IT sector (Medical billing, medical coding, medical record summary) is becoming India’s largest employment platform. This industry has led to the sprout of numerous job opportunities like part time, full time and work at home options. A basic training programme gives the candidate the understanding about the corporate ambiance and expectation and develop their skill according to the requirement. Due to the decreased number of authorized training academies to match the growing population, Core2Code is conducting online medical coding training programmes at your convenience.'

        %p
          %strong='Who are eligible for Online Training Programme?'

        %p='Eligible candidates who live away from the vicinity of the academy can avail the online training programme by contacting our team of Educational Counsellors available at our helpdesk.'


        %p
          %strong='How do I enroll?'
        %p='Contact us through phone to check your eligibility. The concerned counsellor will guide you through an easy 4 step process to enroll.'

        %figure#attachment_325.wp-caption.alignleft
          %img.alignleft.wp-image-325.size-full{:alt => "Online Medical Code Training", :height => "165", :sizes => "(max-width: 488px) 100vw, 488px", :src => "http://bluehealthservices.com/wp-content/uploads/2018/03/CPC-Exam-Training-in-Hyderabad.png", :srcset => "http://bluehealthservices.com/wp-content/uploads/2018/03/CPC-Exam-Training-in-Hyderabad.png 488w, http://bluehealthservices.com/wp-content/uploads/2018/03/CPC-Exam-Training-in-Hyderabad-300x157.png 300w", :title => "CPC Exam Training in Chennai", :width => "488"}/
          %figcaption.wp-caption-text AAPC’s CPC Exam Training Programme
