.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='Online Training'

        %p='Healthcare IT sector (Medical billing, medical coding, medical record summary) is becoming India’s largest employment platform. This industry has led to the sprout of numerous job opportunities like part time, full time and work at home options. A basic training programme gives the candidate the understanding about the corporate ambiance and expectation and develop their skill according to the requirement. Due to the decreased number of authorized training academies to match the growing population, Core2Code is conducting online medical coding training programmes at your convenience.'

        %p
          %strong='Who are eligible for Online Training Programme?'

        %p='Eligible candidates who live away from the vicinity of the academy can avail the online training programme by contacting our team of Educational Counsellors available at our helpdesk.'


        %p
          %strong='How do I enroll?'
        %p='Contact us through phone to check your eligibility. The concerned counsellor will guide you through an easy 4 step process to enroll.'

        %figure#attachment_325.wp-caption.alignleft
          %img.alignleft.wp-image-325.size-full{:alt => "Online Medical Code Training", :height => "165",
          :sizes => "(max-width: 488px) 100vw, 488px", :src => image_url("online_training.png"), :srcset => image_url("online_training.png"),
           :title => "Online Training in Hyderabad", :width => "488"}/
          %figcaption.wp-caption-text Convenient time from anywhere

        %p='We conduct demo classes on Skype to check your network feasibility and to understand your training needs. Courses you can choose from are Online Medical Transcription Training, Online Medical Coding Training, Online Medical Document Review Training.'

        %p='A PC with an unlimited internet connection, head phones and a feasible environment to study. Foot pedals are required for candidates choosing Online Medical Transcription course.'

        %p
          %strong='Why Core2Code?'

        %p='We are proud to uniquely identify ourselves by our methodology of individual trainers on a one on one basis for each online registered candidate. The assigned trainer will be a mentor for you and will be guiding you until you get placed in your preferred location. Strictly NO recorded videos are used in our academy.'

        %p='Classes will be conducted by certified trainers and doctors only.'

        %p
          %strong='Duration:'

        %p='Weekdays: 1 month (2 hrs/day)'
        %p='Weekends: 12 classes (3 hrs/day)'
        %p='*Flexible timing'

        %p
          %strong='Courses Available:'


        %p
          ='Online Medical Coding Training – '
          %a{:href => professional_medical_coder_welcome_path} Basic
          =' and '
          %a{:href => advanced_medical_coder_welcome_path} Advanced
          ='certification Programmes'

        %p
          ='Online'
          %a{:href => medical_transcription_training_welcome_path} Medical Transcription Training

        %p
          ='Online'
          %a{:href => medical_record_review_training_welcome_path} Medical Record Review Training

        %p
          ='Online'
          %a{:href => medical_billing_training_welcome_path} Medical Billing Training

        %p
          ='Online Training for '
          %a{:href => cpc_exam_training_welcome_path} Certified Professional Coder (CPC)





