.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='Professional Medical Coder'

        %p='Core2Code offers Professional Medical Coding Training in Chennai for freshers and medical coding  job seekers. PMC course and job assistance is given for candidates who aspire to enter the medical coding field. To work efficiently in the healthcare corporate sector, recruiters have placed certain norms for employee selection. Trained life science graduates are the most preferred to work in the medical coding job sector.'
        %p='Medical coding, as the term implies, is a Healthcare IT job that specializes in transforming health information to numerical billable codes for the services of the provider. These codes when submitted to the respective payor generates the revenue for the service provided as per the code assigned. Coders work in hospitals, doctor offices, payor and billing companies.'

        %p
          %strong='Why do I need PMC training?'
        %p='There is a huge demand for candidates with enriched skills in understanding a medical report and its contents. PMC training takes you through a journey on how the healthcare corporate field operates. At Core2Code, our team of certified trainers and doctors provide you with a strong foothold on interpreting medical terminologies and yearly updated code versions. This training will help you build the confidence required to work with complex medical reports and achieve the set quality standards for coding.'

        %p
          %strong='Who are eligible for PMC?'
        %p='Graduates who are less that 30 years are preferred to take up the Professional Medical Coder course.'

        %p
          %strong='Preferred Graduation:'

        %img{:alt => "Best Medical Coding Training Institute in Hyderabad", :src => image_url("professional_coding.jpg")}/

        %p
          %strong='What are the topics covered:'

        %p
          %ol
            %li='Introduction to Medical Coding and US Healthcare.'
            %li='Revenue Cycle Management, Medical Terminology, Human Anatomy, Physiology, Pathology.'
            %li='Clinical tests and Surgical Procedures for 16 Human Body Systems.'
            %li='ICD-10 CM General Coding guidelines, conventions and coding for acute and chronic conditions and late effect, Impending and Pressure ulcer stages Coding.'
            %li='Chapter Specific Coding Guidelines including all the chapters like Infection, HIV, Sepsis, Neoplasm, Diabetes and Hypertension, Pregnancy and Delivery, Burns, Fracture, Laceration, Poisoning, Myocardial Infarction and Stroke Coding.'
            %li='Introduction CPT-4 Procedure Coding Terminologies.'
            %li='HCPCS and Modifiers Coding.'
            %li='Introduction to Medical Billing.'
            %li='HIPAA Compliance.'
            %li='Hundreds of coding practice scenarios'
            %li='Aptitude Assessments and Practice'
            %li='Aptitude Assessments and Practice'
            %li='Mock Interview Sessions'

        %p
          %strong='After PMC?'
        %p='Candidates who successfully complete the PMC certification will be referred to the top level MNC’s for placements. There are different specializations in medical coding like Surgery, Anesthesia, Radiology, Laboratory, Inpatient and Outpatient coding. Each company works on either one or more of them. At Blue Health Services we offer you training on the yearly recent updated codes (www.cms.gov.in), that helps you easily achieve the set targets that the industry demands on all specialties. Our alumnis are the team leaders and managers of many top level BPO’s.'

        %p='***Find out more information about AMC and CPC'
