.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='Spoken English'


        %article
          %h2 Welcome to PAI Spoken English
          %p Welcome to PAI, India's No.1 English Institute. We follow a Unique way of teaching. Our method is called "Need Based Teaching". In this method, we initially understand the student's requirement in English, their future plans and current fluency in Spoken English. Based on all of these factors, our trainers create customised courses that help a student achieve his Language Goals. We have successfully trained over 10 Million Individuals in this way.
          %p Some of the main features of PAI's Courses are:
          %ul
            %li Need Based Training for every student.
            %li Pre-Assessment at the beginning of the course.
            %li 360 Degree Evaluation system.
            %li Regular Testing and monitoring in the class.
            %li Mid-Term Assessment to check on improvement.
            %li Individual Case file of each and every student.
            %li Certificate provided at the end of the course.
            %li Job Placement through regular Job Fairs.
