.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='Training Solutions'

        %p='Training is the acquisition of knowledge, skills, and competencies. Our Exclusive training Module forms the core and provides the backbone of content for professional development to achieve your Goals'


        %a{:href => medical_coding_training_welcome_path} Medical Coding Training
        %ul.m-t-30
          %li
            %p
              %a{:href => professional_medical_coder_welcome_path} Professional Medical Coder Certification
              ='(PMC) Training'
          %li
            %p
              %a{:href => advanced_medical_coder_welcome_path} Advance Medical Coder Certification
              ='(AMC) Training'
          %li
            %p
              %a{:href => cpc_exam_training_welcome_path} CPC Certification
              ='Training'


        %p
          %a{:href => medical_transcription_training_welcome_path} Medical Transcription Training
        %p
          %a{:href => medical_record_review_training_welcome_path} Medical Record Review Training
        %p
          %a{:href => medical_billing_training_welcome_path} Medical Billing Training
        %p
          %a{:href => ar_training_welcome_path} AR Calling Training
        %p
          %a{:href => online_training_welcome_path} Online Training


