.wrapper.row4
  %footer#footer.hoc.clear
    / ################################################################################################
    %h3.heading PAI
    %ul.faico.clear
      %li
        %a.faicon-facebook{:href => "#"}
          %i.fa.fa-facebook
      %li
        %a.faicon-twitter{:href => "#"}
          %i.fa.fa-twitter
      %li
        %a.faicon-dribble{:href => "#"}
          %i.fa.fa-dribbble
      %li
        %a.faicon-linkedin{:href => "#"}
          %i.fa.fa-linkedin
      %li
        %a.faicon-google-plus{:href => "#"}
          %i.fa.fa-google-plus
      %li
        %a.faicon-vk{:href => "#"}
          %i.fa.fa-vk
    #copyright
      %p
        Copyright © 2018 - All Rights Reserved -
        %a{:href => "#"} PAI
%a#backtotop{:href => "#top"}
  %i.fa.fa-chevron-up
