.wrapper.row0
  #topbar.hoc.clear
    / ################################################################################################
    .fl_left
      %ul.nospace
        %li
          %i.fa.fa-phone
          7200273695
        %li
          %i.fa.fa-envelope-o
          info@domain.com
    .fl_right
      %ul.nospace
        %li
          %a{:href => "#"}
            %i.fa.fa-lg.fa-home
        %li
          %a{:href => "#"} About
        %li
          %a{:href => "#"} Contact
        %li
          %a{:href => "#"} Login
        %li
          %a{:href => "#"} Register
.wrapper.row1
  %header#header.hoc.clear
    / ################################################################################################
    #logo.fl_left
      %h1
        %a{:href => root_path} PAI
      %p Pai HealthCare Solutions
    / ################################################################################################
    %nav#mainav.fl_right
      %ul.clear
        %li
          %a.drop{:href => healthcare_welcome_path} HEALTHCARE
          %ul
            %li
              %a.drop{:href => clinical_services_welcome_path} Clinical Services
              %ul
                %li
                  %a{:href => physiotherapy_services_welcome_path} Physiotherapy Services

            %li
              %a.drop{:href => non_clinical_services_welcome_path} Non-Clinical Services
              %ul
                %li
                  %a{:href => medical_coding_welcome_path} Medical Coding
                %li
                  %a{:href => medical_transcription_welcome_path} Medical Transcription
                %li
                  %a{:href => medical_record_review_welcome_path} Medical Record Review
                %li
                  %a{:href => medical_billing_welcome_path} Medical Billing
                %li
                  %a{:href => ar_calling_welcome_path} AR Calling
        %li
          %a.drop{:href => training_solutions_welcome_path} TRAINING SOLUTIONS
          %ul
            %li
              %a.drop{:href => medical_coding_training_welcome_path} Medical Coding Training
              %ul
                %li
                  %a{:href => professional_medical_coder_welcome_path} Professional Medical Coder
                %li
                  %a{:href => advanced_medical_coder_welcome_path} Advanced Medical Coder
                %li
                  %a{:href => cpc_exam_training_welcome_path} CPC / COC (AAPC’s Certification Training)
                %li
                  %a{:href => online_training_welcome_path} Online Training

            %li
              %a{:href => medical_transcription_training_welcome_path} Medical Transcription Training
            %li
              %a{:href => medical_record_review_training_welcome_path} Medical Record Review Training
            %li
              %a{:href => medical_billing_training_welcome_path} Medical Billing Training
            %li
              %a{:href => ar_training_welcome_path} AR Calling Training
        %li
          %a{:href => about_us_welcome_path} ABOUT US
        %li
          %a{:href => current_openings_welcome_path} CURRENT OPENINGS
        %li
          %a{:href => contact_us_welcome_path} CONTACT US